@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=IBM+Plex+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=Roboto+Mono:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body{
    background-color: #07614a;
    background-color: #fff;
    background-image: url(img/ashen-graveknight-mordekaiser-league-of-legends-11235.webp)  ;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}


.head{
    margin: 15px;
    height: 50px;
}

.barra{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: #00425A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.titulo{
    position: relative;
    font-size: 15px;
    color: black;
    font-weight: 600;
    margin-right: 50px;
}

.navbar a{
    font-size: 18px;
    color:black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #1F8A70;
    font-size: 15px;
}

.info{
    display: flex;
    justify-content: space-around;
}

.contenido{
    border: solid 2px;
    background-color: #07614a;
    border: solid 2px;  
}


.contenido h1{
    position: relative;
    margin-top: 100px;
    margin-left: 10px;
    font-size: 30px;
    color: black;
    width: 600px;
}

.contenido p{
    font-weight: 700;
    line-height: 1.2;
    position: relative;
    margin-top: 15px ;
    margin-left: 10px;
    font-size: 15px;
    color: black;
    width: 600px;
}

.IMG{
    margin-top: 120px;
    border: solid 5px black;
    border-radius: 10px ;
    height: 400px;
    width: 400px;
}

.apodos{
    margin-top: 600px;
    position: absolute;
    right: 180px;
    line-height: 2.5;
    border: solid 2px;
    border-radius: 10px;
    list-style: none;
    background: #7FC8A9 ;
}

